$lightDark: #181818;
$Dark: #282828;
$lightGreyColor:#b3b3b3;
$white: #FFFFFF;
.container {
    min-width: 100%;
    background-color: $lightDark;
    border-top: 1px solid $Dark;
    display: grid;
    grid-template-columns: minmax(180px,30%) minmax(40%,722px) minmax(180px,30%);
    height: 90px;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.player-controls{
    display: block;
}

.justify-center{
    justify-content: center;
}

.control-button{
    color: lightGreyColor;
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
}

.play-icon{
    transition: all 33ms cubic-bezier(.3,0,.7,1);
    border: none;
    border-radius: 50%;
}

.text-black {
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity));
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: $white
}

.playIcon{
    height: 4rem;
    width: 4rem;
}
.play-button-icon{
    width: 15px;
    height: 15px;
}
.CgPlayTrack{
    height: 4rem;
    width: 3rem;
}
.player-playback{
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer-duration{
    transition: all .2s;
    font-size: .75rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    --tw-text-opacity: 0.6;
}

.flex-1 {
    flex: 1 1 0%;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.ant-slider{
    color: rgba(0,0,0,.85);
    position: relative;
    height: 12px;
    margin: 10px 6px;
    margin-bottom: 20px;
    padding: 4px 0;
    cursor: pointer;
    touch-action: none;
    fill: green
}

.play-bar{
    width: 100%;
    height: 5px;
}
.ant-slider, .ant-tooltip {
    box-sizing: border-box;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum","tnum";
}

.ant-slider .ant-slider-rail {
    --tw-bg-opacity: 1;
    background-color: rgba(83,83,83,var(--tw-bg-opacity));
}

.ant-slider-rail {
    width: 100%;
    background-color: #f5f5f5;
}
.ant-slider-rail, .ant-slider-track {
    height: 4px;
    transition: background-color .3s;
    border-radius: 2px;
    position: absolute;
}

.ant-slider-track{
    left: 0%;
    right: auto;
    width: 40%;
    visibility: visible;
}

.ant-slider-handle{
    
    transform: translateX(-50%);
}


.ant-switch-handle{
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    position: absolute;
    transition: all .2s ease-in-out
}

.ant-switch-inner{
    display: block;
    margin: 0 7px 0 25px;
    color: #fff;
    font-size: 12px;
    transition: margin .2s;
}

.player-volume{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    input {
        width: 10rem;
        border-radius: 2rem;
        height: 0.3rem;
    }
}

.icon-volume{
    width: 20px;
    height: 20px;
}

.track{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.track-info{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    h4{
        color: white;
    }
    h6{
        color: #b3b3b3;
    }
}

.volume-bar{
    margin-bottom: 5px;
}