.ant-menu-item .ant-menu-item-only-child {
  width: 160px;
  color: red;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #323232;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0;
}

.ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0;
}

.ant-menu-inline .ant-menu-item::after {
  border: none;
}

.ant-menu-item-selected {
  color: white;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}



.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: white;
}

.ant-btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  border-color: #d9d9d9;
  background: #fff;
}

.ant-btn-primary {
  height: 32px;
  display: flex;
  margin-right: 1%;
  color: #cbcccc;
  background: #535353;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  border-color: #535353;
  cursor: pointer;

}

.ant-btn::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  display: none;
  background: #fff;
  border-radius: inherit;
  opacity: 0.35;
  transition: opacity 0.2s;
  content: '';
  pointer-events: none;
}



.ant-btn-primary:hover {
  background-color: #8C8C8C;
  border-color: #535353;

}


.ant-layout-content {
  background-color: #282828;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  background-color: #282828;
}


.flex {

  display: flex;
}

.ant-layout-header {
  grid-area: main-view;
  z-index: 1;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

}

.arrow-button {
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.user-social {
  margin-right: 1rem;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  justify-content: flex-end;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  border-radius: 4px;
  height: 40px;
}

.link-subtle {
  color: #b3b3b4;
}

.ant-menu-item-selected a {
  color: white !important;
}

.ant-menu-item a {
  color: #b3b3b4;
}

.ant-menu-item a:hover {
  color: white;
}

.separator {
  background-color: #282828;
  border: none;
  height: 1px;
  min-height: 1px;
}

.playlists {
  overflow: auto;
  padding: 0.5rem 0 0.25rem !important;
}

h1 {
  margin-bottom: 0;
}

ul {
  color: #b3b3b4 !important;
}

.ul:hover .txunderline {
  text-decoration: underline;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: black;
}

/* .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: black;
} */
/* .layout {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
  isolation: isolate;
} */

/* .layout-content {
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "nav-bar main-view now-playing-bar now-playing-bar";
}

.navigationBar{
  grid-area: nav-bar;
    z-index: 3;
    min-height: 0;
    display: flex;
    width: 232px;
    flex-direction: column;
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,0,var(--tw-bg-opacity));
    padding-top: 1.5rem;
} */
