.ant-menu-item .ant-menu-item-only-child {
  width: 160px;
  color:red;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #282828;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0;
}

.ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0;
}

.ant-menu-inline .ant-menu-item::after {
  border: none;
}
.ant-menu-item-selected {
  color: white;
}
.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}



.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
    color:white;
}


.nav-link {
  border-radius: 4px;
  height: 40px;
}

.link-subtle {
  color: #b3b3b4;
}

.ant-menu-item-selected a {
  color: white !important;
}

.ant-menu-item a {
  color: #b3b3b4;
}

.ant-menu-item a:hover {
  color: white;
}

.separator {
  background-color: #282828;
  border: none;
  height: 1px;
  min-height: 1px;
}

.playlists {
  overflow: auto;
  padding: 0.5rem 0 0.25rem !important;
}

h1 {
  margin-bottom:0;
}

ul {
  color:#b3b3b4 !important;
}



*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: black;
}

/* .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: black;
} */