.topbar {
    background-color: #282828;
}

.flex{
    display: flex;
}

.social-share{
    margin-right: 1rem;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    justify-content: flex-end;
    grid-gap: 0.5rem;
    gap: 0.5rem;
}
.ant-btn {
    line-height: 1.5715;
      position: relative;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
      text-align: center;
      background-image: none;
      border: 1px solid transparent;
      box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      touch-action: manipulation;
      height: 32px;
      padding: 4px 15px;
      font-size: 14px;
      border-radius: 2px;
      color: rgba(0, 0, 0, 0.85);
      border-color: #d9d9d9;
      background: #fff;
  }
  
  .ant-btn-primary {
    height: 32px;
    display: flex;
    margin-right: 1%;
    color: #cbcccc;
    background: #535353;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    border-color: #535353;
    cursor: pointer;
  
  }
  
  .ant-btn::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    display: none;
    background: #fff;
    border-radius: inherit;
    opacity: 0.35;
    transition: opacity 0.2s;
    content: '';
    pointer-events: none;
  }
  
  
  
  .ant-btn-primary:hover {
    background-color: #8C8C8C;
    border-color: #535353;
  
  }
.ant-btn.btn-with-icon {
    color: rgba(255,255,255,var(--tw-text-opacity));
    --tw-text-opacity: 0.7;
    padding: 4px 15px!important;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.ant-btn.btn-with-icon:focus{
    background-color: #8d8d8d;
}

.user-upgrade {
    background-color: #000000;
    border-color: #FFFFFF;
    text-align: center;
    border-radius: 100vh;
    color: #FFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 5px 32px;
    text-transform: uppercase;
    transition: all 33ms ease;
    white-space: nowrap;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .user-upgrade:hover {
    background-color: #000000;
    border-color: #FFF;
    color: #FFF;
  }
  
  .user-upgrade:focus {
    background-color: #000000;
    border-color: #FFF;
    color: #FFF;
  }

  .bi.bi-caret-down-fill{
    height: 85%;
    width: 85%;
    padding-right: 5px;
  }

  .image-angular{
    width: 8rem;
    height: 8rem;
  }

  .user-dropdown {
    display: flex;
    background-color: rgba(0,0,0,.4);
    border-radius: 23px;
    height: 32px;
    min-width: 32px;
    border: 0;
    cursor: pointer;
    color: #fff;
    padding: 2px;
  }
  
  .user-dropdown:hover {
    background-color: #090909;
    border-color: #090909;
    color: #FFF;
  }
  
  .user-dropdown:focus {
    background-color: #000000;
  }