body {
  min-width: 600px;
  line-height: 20px;
  letter-spacing: .015em;
  color: #b3b3b3;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}