.search-control {
  width: 364px;
  .input-container {
    height: 43.2px;
    border-radius: 500px;
    position: relative;
    display: flex;
    min-height: 32px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;

    .input-icon-container {
      width: 48px;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .input-search {
      padding-left: 48px;
      padding-right: 4px;
      width: 100%;
      outline: none;
    }
    .input-search:focus {
      border: none;
    }
    .times-icon-container {
      width: 48px;
      cursor: pointer;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-color: red;
    }
  }
}
